html{
  scroll-behavior: smooth;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

body{
	font-family: 'Noto Serif', serif;
  background-color: #010101;
  max-width: 100%;
  color: #D6B379;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.dropdown-menu{
  margin-top: 10px;
  opacity: .9;
  border-radius: 0;
  border: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: small;
}

h1{
	font-family: 'Noto Serif', serif;
	color: #D6B379;
	font-size: 20px;
}

h2{
  font-family: 'Noto Serif', serif;
  color: #D6B379;
  font-size: x-large;
}

.logo{
	text-align: center;
	width: 50%;
}

.logo2{
  text-align: center;
  width: 30%;
}

.footerLogo{
	width: 110px;
}

.bodyLogo2{
  width: 60%;
}

.bodyLogo{
  width: 150px;
}

.flag{
  width: 20px;
}

.video-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: -5rem;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #dc0000;
  padding: 10px;
}

.caption{
  position: fixed;
  padding-left: 50%;
  padding-top: 50%;
}

.navbar{
	background-color: rgb(0,0,0, .7);
  font-family: 'Noto Sans', sans-serif;
  font-size: small;
  }

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}

.nav-link{
  color: #b5945e !important;
}


.gallery{
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  background-color: #010101;
  color: #D6B379;
  font-size: x-small;
  height: fit-content;
  text-align: center;
}

 .modal-open{  
  overflow: auto; 
  padding-right: 0px !important;
}

.menu{
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  background-image: url("../img/menu-bg.jpg");
  background-attachment: fixed;
  background-color: #010101;
  color: black;
  height: fit-content;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

h4{
  font-family: 'Noto Serif', serif;
  font-size: x-large;
  color: #D6B379;
  font-weight: bold;
}

.img-menu{
  width: 80%;
  border-radius: 10px;
}

.thumbnail-menu{
  width: 70%;
}

.menu-item{
  cursor: pointer;
}

.text-menu{
  text-align: left;
}

.box {
    padding: 0 20px 20px 20px;
}

.box .inner {
    background-color: rgb(0, 0, 0, .5);
    border: solid;
    border-width: thin;
    border-color: #D6B379;
  }

.modal-content{
  background-color: rgb(0, 0, 0, 0.9);
  color: #D6B379;
  border-radius: 20px;
  margin-top: 5rem;
  border: solid;
  border-width: thin;
  border-color: #D6B379;
}

.modal-content > h1{
  color: #D6B379;
  font-size: xx-large;
  font-weight: bold;
}


.footer{
  position: relative;
  margin-top: 1.5rem;
  font-family: 'Noto Sans', sans-serif;
  color: #D6B379;
  font-size:  x-small;
  height: fit-content;
  text-align: center;
}


.img-gallery{
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  overflow: hidden;
}

.img-mrg{
  padding-right:0;
  padding-left:0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  cursor: pointer;
}

.img-mrg:hover .overlay {
  opacity: .8;
}

.text {
  color: #D6B379;
  font-size: medium;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.about{
  background-image: url("../img/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #D6B379;
  text-align: center;
  padding-bottom: 5rem;
  height: auto;
}

.events{
  background-image: url("../img/events-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #D6B379;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: fit-content;
  object-fit: cover;
}


.container > h1{
  font-size: 40px;
  font-weight: bold;
}

.container > h2{
  font-size: 20px;
}

.container > p{
  font-size: medium;
}

.margin-50{
  width: 50%;
}

.btn-gold{
  background-color: #D6B379;
  border-radius: 0;
  font-size: large;
}

.btn-gold:hover{
  background-color:  #b5945e;
  border-radius: 0;
  font-size: large;
}

.social{
  cursor: pointer;
  width: 25px;
  margin-top: 5px;
}

@media only screen and (max-width: 990px) {
  .video-container {
    margin-top: 0;
  }
}

.about2{
  background-image: url("../img/space.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
  padding-bottom: 5rem;

}

.oasis{
  width: 100%;
  float:right;

}

.nube1{
  width: 380px;
  position: absolute;
  top: 20rem;
  left: -30%;
  margin-top: -50px;
  margin-left: -50px;
  animation-name: example1;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  transition-delay: 0ms;
  transition: opacity 400ms;
  animation-timing-function: linear;
  overflow: hidden;


}

.nube2{
  width: 400px;
  position: absolute;
  top: 40rem;
  left: -50%;
  margin-top: -50px;
  margin-left: -50px;
  animation-name: example1;
  animation-duration: 70s;  
  animation-iteration-count: infinite;
  transition-delay: 0ms;
  transition: opacity 400ms;
  animation-timing-function: linear;
  overflow: hidden;

}

.nube3{
  width: 400px;
  position: absolute;
  top: 30rem;
  left: -70%;
  margin-top: -50px;
  margin-left: -50px;
  animation-name: example4;
  animation-duration: 80s;  
  animation-iteration-count: infinite;
  transition-delay: 0ms;
  transition: opacity 400ms;
  animation-timing-function: linear;
  overflow: hidden;
}

.nube4{
  width: 300px;
  position: absolute;
  top: 50rem;
  left: -20%;
  margin-top: -50px;
  margin-left: -50px;
  animation-name: example3;
  animation-duration: 35s;  
  animation-iteration-count: infinite;
  transition-delay: 0ms;
  transition: opacity 400ms;
  animation-timing-function: linear;
  overflow: hidden;
}

.planeta1{
  width: 20%;
  position: absolute;
  top: 40rem;
  left: 10%;
  margin-top: -40px;
  margin-left: -50px;
  opacity: 40%;
  overflow: hidden;


}

.planeta2{
  width: 20%;
  position: absolute;
  top: 30rem;
  left: 80%;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 40%;
  overflow: hidden;

}

/* The animation code */
@keyframes example1 {
  100% {left:120%;}

}

@keyframes example2 {
  100% {left:130%;}

}

@keyframes example3 {
  100% {left:110%;}

}

@keyframes example4 {
  100% {left:140%;}

}

.title{
  width: 70%;
}


/* The element to apply the animation to */